<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
  
<suite name="Tutorials Ninja Demo Website" verbose="1" >

  <test name="Tutorials Ninja Demo Test Cases" >
    <classes>
       <class name="com.demo.testcases.LoginPageTest"/>
       <class name="com.demo.testcases.SignupPageTest"/>
    </classes>
  </test>

</suite>
